* {
  margin: 0;
  padding: 0; /*preenchimento interno*/
  box-sizing: border-box;
  /*OBS
  
  com o boder-box é possível manter o width mesmo com acressimo de outras tags tipo padding, que acrescenta preenchimento interno*/
}

:root {
  --text-color: white; /*letras brancas*/
  --bg-url: url(./assets/bg-mobile-dark.png); /*fundo preto*/
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.05);
  --surface-color-hover: rgba(255, 255, 255, 0.02);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --switch-bg-url: url(./assets/MoonStars.svg);
}

.light {
  --text-color: black; /*letras pretas*/
  --bg-url: url(./assets/bg-mobile-light.jpg); /*fundo branco*/
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(0, 0, 0, 0.1);
  --switch-bg-url: url(./assets/sun.svg);
}

body {
  background: var(--bg-url) no-repeat top center/cover;
}
/*OBS
O DE CIMA É O SHORHAND DISSO:
  background-image: url(./assets/Background.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}*/

body * {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}

#container {
  width: 100%;
  max-width: 588px;/*aqui foi adicionado uma largura máxima para esticar as box dos links, elas ficando no tamanho 100%, e quando chegar em 588px mantém.*/
  margin: 56px auto 0px;
  padding: 0 24px;
}

#profile {
  text-align: center;
  margin-top: 24px;
}

/*profile*/
#profile img {
  width: 112px;
}

#profile p {
  font-weight: 400;
  line-height: 24px;
  margin-top: 8px;
  margin-bottom: 28px;
}

/*switch*/
#switch {
  width: 64px;
  height: 24px;

  position: relative;
  /*OBS
  aqui serve para vincular (relativizar) o que estiver dentro do botão, fazendo com que o position absolute esteja relativo ao elemento switch, e assim as propriedade top, right, left e bottom não fiquem vinculadar a toda a página mas sim a box do switch */
  margin: 4px auto;
}

#switch button {
  width: 32px;
  height: 32px;
  background: white var(--switch-bg-url) no-repeat center;
  border: 0;
  border-radius: 50%;

  position: absolute;
  z-index: 1;
  left: 0; /*mudei aqui para left- posição do switch lua*/
  transform: translateY(-50%);
  top: 50%;
  /*OBS
  Nesse caso, top: 50%; move o botão para 50% da altura do elemento #switch. No entanto, para centralizá-lo completamente, você usa transform: translateY(-50%); para ajustar o botão para cima em 50% da sua própria altura, o que efetivamente centraliza verticalmente o botão em relação ao elemento #switch.
  Portanto, o top: 50%; é usado para definir a posição inicial e o transform: translateY(-50%); é usado para fazer o ajuste necessário para centralização vertical completa. Isso mantém o botão no centro vertical do elemento #switch.*/
}

.light #switch button {
  right: 0;
  left: initial; /*aqui serve para definir o switch left como a maneira inicial*/
}

#switch span {
  display: flex;
  width: 64px;
  height: 24px;

  border: 1px solid var(--stroke-color);
  background: var(--surface-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 9999px;
}

/*Links*/
ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 0;
}

ul li a {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 16px 24px;

  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 8px;

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  text-decoration: none;
  font-weight: 400; /*acima de 500 usa o bold*/

  transition: background 0.2s;
}

/*Pseudo-selector(aplica coisas quando passa o mouse em cima)*/
ul li a:hover {
  background: var(--surface-color-hover);
  border: 1px solid var(--text-color);
}

/*social-links*/

#social-links {
  font-size: 24px;
  display: flex;
  padding: 16px;
  align-items: center;
  justify-content: center;
}

#social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
}

#social-links a:hover {
  background: var(--highlight-color);
  padding: 16px;
  border-radius: 50%;
  transition: background 0.2s;
}

/*frase final*/
footer {
  text-align: center;
  padding: 24px 0;
  font-size: 14px;
  font-weight: 300;
}
